.react-calendar {
  width: 800px;
  max-width: 100%;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin: 0 1rem;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation button {
  min-width: 44px;
}

.react-calendar__navigation button:disabled {
  background-color: var(--chakra-colors-orange-100);
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--chakra-colors-orange-100);
}

.react-calendar__navigation {
  display: flex;
  height: 60px;
  margin-bottom: 1em;
  padding: 0 1rem;

  @media (max-width: 330px) {
    padding: 0;
  }

  @media (min-width: 450px) {
    padding: 0 2rem;
  }

  @media (min-width: 600px) {
    padding: 0 2.5rem;
  }

  &__label {
    order: -1;
    text-align: left;
    padding-left: 0.5rem;
    color: var(--chakra-colors-gray-500);
  }
}

.react-calendar__navigation button.react-calendar__navigation__arrow {
  font-size: 2rem;
  background-color: var(--chakra-colors-orange-500);
  color: var(--chakra-colors-white);
  transition: 0.2s;
  margin: 0.5rem 0;
  margin-left: 0.2rem;

  &:hover,
  &:focus {
    background-color: var(--chakra-colors-orange-400);
  }
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--chakra-colors-gray-500);
  text-decoration: none;
  font-size: 1rem;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: center;
  width: 100%;
  min-height: 50px;
  padding: 0.5rem;
}

.react-calendar__tile:disabled {
  background-color: var(--chakra-colors-orange-100);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--chakra-colors-orange-100);
}

.react-calendar__tile--now {
  background: var(--chakra-colors-orange-200);
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--chakra-colors-orange-200);
}

.react-calendar__tile--hasActive {
  background-color: var(--chakra-colors-orange-100);
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background-color: var(--chakra-colors-orange-100);
}

.react-calendar__tile--active {
  background: var(--chakra-colors-orange-500);
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--chakra-colors-orange-500);
}
